@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using DaiLyOTO.Models.ViewModel;

@{
    ViewData["Title"] = "GetAllDrive";
    Layout = "_LayoutAdmin";
}

@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<DriveViewModel>


<div class="app-title">
    <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item active"><b>Danh sách phiếu đăng ký lái thử</b></li>
    </ul>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <div class="row element-button">
                    <div class="col-sm-2">
                        <a class="btn btn-delete btn-sm nhap-tu-file" type="button" title="Nhập" onclick="myFunction(this)"><i class="fas fa-file-upload"></i> Tải từ file</a>
                    </div>

                    <div class="col-sm-2">
                        <a class="btn btn-delete btn-sm print-file" type="button" title="In" onclick="myApp.printTable()"><i class="fas fa-print"></i> In dữ liệu</a>
                    </div>
                    <div class="col-sm-2">
                        <a class="btn btn-delete btn-sm print-file js-textareacopybtn" type="button" title="Sao chép"><i class="fas fa-copy"></i> Sao chép</a>
                    </div>

                    <div class="col-sm-2">
                        <a class="btn btn-excel btn-sm" href="" title="In"><i class="fas fa-file-excel"></i> Xuất Excel</a>
                    </div>
                    <div class="col-sm-2">
                        <a class="btn btn-delete btn-sm pdf-file" type="button" title="In" onclick="myFunction(this)"><i class="fas fa-file-pdf"></i> Xuất PDF</a>
                    </div>
                    <div class="col-sm-2">
                        <a class="btn btn-delete btn-sm" type="button" title="Xóa" onclick="myFunction(this)"><i class="fas fa-trash-alt"></i> Xóa tất cả </a>
                    </div>
                </div>
                <div id="sampleTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="dataTables_length" id="sampleTable_length">
                                <label>
                                    <select id="pageSizeSelect" style="width: 50%;" name="sampleTable_length" onchange="getPageSize(this.value);" aria-controls="sampleTable" class="form-control form-control-sm">
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="15">15</option>
                                        <option value="20">20</option>
                                    </select> Số dòng hiển thị
                                </label>
                            </div>
                        </div><div class="col-sm-12 col-md-6">
                            <div id="sampleTable_filter" class="dataTables_filter">
                                <label>
                                    Tìm kiếm:
                                    <input type="search" class="form-control form-control-sm" placeholder="Nguyễn văn a" onblur="getUserFilter(event)" aria-controls="sampleTable">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="table__partial">
                        <div class="col-sm-12">
                            @Html.Partial("GetAllDriveTable")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    // Khi thay đổi kích thước trang
    function getPageSize(pageSize) {
        var searchText = $('input[type="search"]').val(); // Lấy giá trị của input tìm kiếm
        loadData(pageSize, searchText); // Thực hiện yêu cầu Ajax để tải lại bảng dữ liệu
    }

    // Khi nhập liệu vào input tìm kiếm
    function getUserFilter(event) {
        var pageSize = $('#pageSizeSelect').val(); // Lấy giá trị của input select
        var searchText = event.target.value; // Lấy giá trị của input tìm kiếm
        loadData(pageSize, searchText); // Thực hiện yêu cầu Ajax để tải lại bảng dữ liệu
    }

    function loadData(pageSize, searchText) {
        $.ajax({
            url: "@Url.Action("GetAllDriveTable", "DriveAdmin")?pageSize=" + pageSize + "&searchText=" + searchText, // Đường dẫn đến hành động trong controller để lấy dữ liệu từ máy chủ
            type: 'GET', // Phương thức HTTP để lấy dữ liệu
            data: { pageSize: pageSize, filter: searchText }, // Các tham số để truyền cho hành động lấy dữ liệu
            success: function (result) {
                document.querySelector('#table__partial div > .row').style.display = 'none'
                $('#sampleTable').html(result); // Cập nhật nội dung của bảng dữ liệu trong trang web
            }
        });
    }
</script>

