
@{
    ViewData["Title"] = "Giới thiệu";
    Layout = "_Layout";
}

<main id="main">
    <div id="content" class="content-area page-wrapper" role="main">
        <div class="row row-main">
            <div class="large-12 col">
                <div class="col-inner" style="padding-top: 20px;">
                    <p style="text-align: center;"><span style="font-size: 150%;"><strong>Chào mừng đến với Hyundai Cầu Diễn</strong></span></p>
                    <p>Hyundai Cầu Diễn là Đại lý ủy quyền chính thức của Hyundai Thành Công tại Hà Nội. Chúng tôi chuyên cung cấp những dòng xe mới nhất của Hyundai, bên cạnh đó chúng tôi luôn cam kết không vì lợi nhuận trước mắt mà đánh mất lòng tin của khách hàng, cam kết cung cấp <strong>dịch vụ tốt nhất</strong> và <strong>sản phẩm chất lượng nhất.</strong></p>
                    <p><img class="alignnone size-full" src="~/assets/img/introduce01.jpg" alt="" width="4240" height="2832"></p>
                    <p>Đại lý 3S Hyundai Cầu Diễn đáp ứng đầy đủ các tiêu chuẩn dịch vụ hàng đầu thế giới với khu trưng bày, khu bảo dưỡng cũng như khu chăm sóc khách hàng trang bị các thiết bị hiện đại và quy trình chuẩn bậc nhất.</p>
                    <p><img class="alignnone size-full" src="~/assets/img/introduce02.jpg" alt="" width="4240" height="2832"></p>
                    <p>Xác định rõ để tồn tại và phát triển tốt ngay từ ban đầu, Hyundai Cầu Diễn luôn chú trọng đến yếu tố <strong>con người</strong>: Đội ngũ nhân viên tư vấn bán hàng chuyên nghiệp, kỹ thuật viên lành nghề giàu nhiệt huyết, có trình độ cao và được đào tạo bài bản chuẩn mực nhất bởi các chuyên gia hàng đầu của Hyundai Thành Công Việt Nam.</p>
                    <p><strong>Lí do bạn nên chọn mua xe ở Hyundai Cầu Diễn:</strong></p>
                    <p><strong>1.</strong> Giá ưu đãi và cạnh tranh nhất: khi mua xe tại Hyundai Cầu Diễn khách hàng sẽ được nhiều ưu đãi về giá</p>
                    <p><strong>2.</strong> Vị trí thuận lợi cho việc lái thử, xem xe, giao xe…</p>
                    <p><strong>3.</strong> Tư vấn tận tình chuyên nghiệp.</p>
                    <p><strong>5.</strong> Khu bảo dưỡng, bảo trì đạt chất lượng cao với đội ngũ kĩ thuật được đào tạo chuyên nghiệp</p>
                    <p><strong>6.</strong> Hỗ trợ các dịch vụ 24/24h:</p>
                    <p>– Giao xe ngay – Tận nơi – Đủ màu</p>
                    <p>– Đăng ký lái thử</p><p>– Hỗ trợ vay vốn ngân hàng – Lãi suất thấp</p>
                    <p>– Hỗ trợ trả góp lên đến 80%</p>
                    <p>– Thủ tục trả góp nhanh gọn</p>
                    <p>– Tư vấn lái UBER, GRAB,..</p>
                    <p><br><strong>Địa chỉ:</strong><strong> Số 3 Cầu Giấy, P.Láng Thượng, Q.Đống Đa, Hà Nội.</strong></p>
                </div>
            </div>
        </div>
    </div>
</main>

