
@{
    ViewData["Title"] = "Tin tức";
    Layout = "_Layout";
}


<main id="main">
    <div id="content" class="blog-wrapper blog-archive page-wrapper">
        <div class="row row-large row-divided " style="margin-top: 30px;">
            <div class="large-9 col">
                <div class="row large-columns-2 medium-columns- small-columns-1 row-masonry" style="position: relative; height: 1489.84px;">
                    <div class="col post-item" style="position: absolute; left: 0px; top: 0px;">
                        <div class="col-inner">
                            <a href="#" class="plain">
                                <div class="box box-text-bottom box-blog-post has-hover">
                                    <div class="box-image">
                                        <div class="image-cover" style="padding-top:56%;">
                                            <img width="854" height="640" src="~/assets/img/tintuc/news01.jpg" class="attachment-medium size-medium wp-post-image" alt="" sizes="(max-width: 854px) 100vw, 854px">
                                        </div>
                                    </div>
                                    <div class="box-text text-left">
                                        <div class="box-text-inner blog-post-inner">
                                            <h5 class="post-title is-large ">“HYUNDAI DU KÝ – THEO DẤU HYUNDAI TRẢI DÀI TỔ QUỐC”</h5>
                                            <div class="is-divider"></div>
                                            <p class="from_the_blog_excerpt ">“HYUNDAI DU KÝ – THEO DẤU HYUNDAI TRẢI DÀI TỔ QUỐC” TỔNG GIẢI THƯỞNG GẦN</p>
                                        </div>
                                    </div>
                                    <div class="badge absolute top post-date badge-square">
                                        <div class="badge-inner">
                                            <span class="post-date-day">07</span><br>
                                            <span class="post-date-month is-xsmall">Th11</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col post-item" style="position: absolute; left: 377px; top: 0px;">
                        <div class="col-inner">
                            <a href="#" class="plain">
                                <div class="box box-text-bottom box-blog-post has-hover">
                                    <div class="box-image">
                                        <div class="image-cover" style="padding-top:56%;">
                                            <img width="854" height="640" src="~/assets/img/tintuc/news02.jpg" class="attachment-medium size-medium wp-post-image" alt="" sizes="(max-width: 854px) 100vw, 854px">
                                        </div>
                                    </div>
                                    <div class="box-text text-left">
                                        <div class="box-text-inner blog-post-inner">
                                            <h5 class="post-title is-large ">HYUNDAI DU KÝ- TRÒ CHƠI KHỞI ĐỘNG</h5>
                                            <div class="is-divider"></div>
                                            <p class="from_the_blog_excerpt ">&nbsp; Qúy khách hàng (KH) đang sinh sống tại đâu? Nơi ấy có những gì</p>
                                        </div>
                                    </div>
                                    <div class="badge absolute top post-date badge-square">
                                        <div class="badge-inner">
                                            <span class="post-date-day">07</span><br>
                                            <span class="post-date-month is-xsmall">Th11</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col post-item" style="position: absolute; left: 377px; top: 354px;">
                        <div class="col-inner">
                            <a href="#" class="plain">
                                <div class="box box-text-bottom box-blog-post has-hover">
                                    <div class="box-image">
                                        <div class="image-cover" style="padding-top:56%;">
                                            <img width="854" height="640" src="~/assets/img/tintuc/news03.jpg" class="attachment-medium size-medium wp-post-image" alt="" sizes="(max-width: 854px) 100vw, 854px">
                                        </div>
                                    </div>
                                    <div class="box-text text-left">
                                        <div class="box-text-inner blog-post-inner">
                                            <h5 class="post-title is-large ">Điều chỉnh giá bán lẻ một số mẫu xe bao gồm: Santa Fe, Tucson và Creta</h5>
                                            <div class="is-divider"></div>
                                            <p class="from_the_blog_excerpt ">Liên doanh ô tô Hyundai Thành Công Việt Nam thông báo điều chỉnh giá bán</p>
                                        </div>
                                    </div>
                                    <div class="badge absolute top post-date badge-square">
                                        <div class="badge-inner">
                                            <span class="post-date-day">24</span><br>
                                            <span class="post-date-month is-xsmall">Th10</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col post-item" style="position: absolute; left: 0px; top: 378px;">
                        <div class="col-inner">
                            <a href="#" class="plain">
                                <div class="box box-text-bottom box-blog-post has-hover">
                                    <div class="box-image">
                                        <div class="image-cover" style="padding-top:56%;">
                                            <img width="854" height="640" src="~/assets/img/tintuc/news01.jpg" class="attachment-medium size-medium wp-post-image" alt="" sizes="(max-width: 854px) 100vw, 854px">
                                        </div>
                                    </div>
                                    <div class="box-text text-left">
                                        <div class="box-text-inner blog-post-inner">
                                            <h5 class="post-title is-large ">An tâm bứt tốc – chạm mốc đỉnh cao</h5>
                                            <div class="is-divider"></div>
                                            <p class="from_the_blog_excerpt ">Hỗ trợ lên đến 80% Phí Trước Bạ Bảo hành chính hãng 5 năm Tặng</p>
                                        </div>
                                    </div>
                                    <div class="badge absolute top post-date badge-square">
                                        <div class="badge-inner">
                                            <span class="post-date-day">20</span><br>
                                            <span class="post-date-month is-xsmall">Th11</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col post-item" style="position: absolute; left: 0px; top: 732px;">
                        <div class="col-inner">
                            <a href="#" class="plain">
                                <div class="box box-text-bottom box-blog-post has-hover">
                                    <div class="box-image">
                                        <div class="image-cover" style="padding-top:56%;">
                                            <img width="854" height="640" src="~/assets/img/tintuc/news04.jpg" class="attachment-medium size-medium wp-post-image" alt="" sizes="(max-width: 854px) 100vw, 854px">
                                        </div>
                                    </div>
                                    <div class="box-text text-left">
                                        <div class="box-text-inner blog-post-inner">
                                            <h5 class="post-title is-large ">Từ 1/12/2021 Giảm 50% lệ phí trước bạ cho ô tô lắp ráp trong nước</h5>
                                            <div class="is-divider"></div>
                                            <p class="from_the_blog_excerpt ">Chính phủ đã đồng ý giảm 50% lệ phí trước bạ cho ô tô lắp</p>
                                        </div>
                                    </div>
                                    <div class="badge absolute top post-date badge-square">
                                        <div class="badge-inner">
                                            <span class="post-date-day">20</span><br>
                                            <span class="post-date-month is-xsmall">Th11</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col post-item" style="position: absolute; left: 377px; top: 732px;">
                        <div class="col-inner">
                            <a href="#" class="plain">
                                <div class="box box-text-bottom box-blog-post has-hover">
                                    <div class="box-image">
                                        <div class="image-cover" style="padding-top:56%;">
                                            <img width="854" height="640" src="~/assets/img/tintuc/news05.jpg" class="attachment-medium size-medium wp-post-image" alt="" sizes="(max-width: 854px) 100vw, 854px">
                                        </div>
                                    </div>
                                    <div class="box-text text-left">
                                        <div class="box-text-inner blog-post-inner">
                                            <h5 class="post-title is-large ">Xe Hàn lấn át xe Nhật trong top 10 bán chạy nhất Tháng 01/2020</h5>
                                            <div class="is-divider"></div>
                                            <p class="from_the_blog_excerpt ">Tháng 1/2020, sáu mẫu xe Hàn xuất hiện trong top 10 xe bán chạy nhất</p>
                                        </div>
                                    </div>
                                    <div class="badge absolute top post-date badge-square">
                                        <div class="badge-inner">
                                            <span class="post-date-day">13</span><br>
                                            <span class="post-date-month is-xsmall">Th2</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="post-sidebar large-3 col">
                <div id="secondary" class="widget-area " role="complementary">
                    <aside id="flatsome_recent_posts-17" class="widget flatsome_recent_posts">
                        <span class="widget-title "><span>Bài viết mới</span></span><div class="is-divider small"></div>
                        <ul>
                            <li class="recent-blog-posts-li">
                                <div class="flex-row recent-blog-posts align-top pt-half pb-half">
                                    <div class="flex-col mr-half">
                                        <div class="badge post-date badge-small badge-square">
                                            <div class="badge-inner bg-fill">
                                                <span class="post-date-day">07</span><br>
                                                <span class="post-date-month is-xsmall">Th11</span>
                                            </div>
                                        </div>
                                    </div><div class="flex-col flex-grow">
                                        <a href="#" title="“HYUNDAI DU KÝ –&nbsp; THEO DẤU HYUNDAI TRẢI DÀI TỔ QUỐC”">“HYUNDAI DU KÝ –&nbsp; THEO DẤU HYUNDAI TRẢI DÀI TỔ QUỐC”</a>
                                        <span class="post_comments op-7 block is-xsmall"><a href="#"></a></span>
                                    </div>
                                </div>
                            </li>
                            <li class="recent-blog-posts-li">
                                <div class="flex-row recent-blog-posts align-top pt-half pb-half">
                                    <div class="flex-col mr-half">
                                        <div class="badge post-date badge-small badge-square">
                                            <div class="badge-inner bg-fill">
                                                <span class="post-date-day">07</span><br>
                                                <span class="post-date-month is-xsmall">Th11</span>
                                            </div>
                                        </div>
                                    </div><div class="flex-col flex-grow">
                                        <a href="#" title="HYUNDAI DU KÝ- TRÒ CHƠI KHỞI ĐỘNG">HYUNDAI DU KÝ- TRÒ CHƠI KHỞI ĐỘNG</a>
                                        <span class="post_comments op-7 block is-xsmall"><a href="#"></a></span>
                                    </div>
                                </div>
                            </li>
                            <li class="recent-blog-posts-li">
                                <div class="flex-row recent-blog-posts align-top pt-half pb-half">
                                    <div class="flex-col mr-half">
                                        <div class="badge post-date badge-small badge-square">
                                            <div class="badge-inner bg-fill">
                                                <span class="post-date-day">24</span><br>
                                                <span class="post-date-month is-xsmall">Th10</span>
                                            </div>
                                        </div>
                                    </div><div class="flex-col flex-grow">
                                        <a href="#" title="Điều chỉnh giá bán lẻ một số mẫu xe bao gồm: Santa Fe, Tucson và Creta">Điều chỉnh giá bán lẻ một số mẫu xe bao gồm: Santa Fe, Tucson và Creta</a>
                                        <span class="post_comments op-7 block is-xsmall"><a href="#"></a></span>
                                    </div>
                                </div>
                            </li>
                            <li class="recent-blog-posts-li">
                                <div class="flex-row recent-blog-posts align-top pt-half pb-half">
                                    <div class="flex-col mr-half">
                                        <div class="badge post-date badge-small badge-square">
                                            <div class="badge-inner bg-fill">
                                                <span class="post-date-day">20</span><br>
                                                <span class="post-date-month is-xsmall">Th11</span>
                                            </div>
                                        </div>
                                    </div><div class="flex-col flex-grow">
                                        <a href="#" title="An tâm bứt tốc – chạm mốc đỉnh cao">An tâm bứt tốc – chạm mốc đỉnh cao</a>
                                        <span class="post_comments op-7 block is-xsmall"><a href="#"></a></span>
                                    </div>
                                </div>
                            </li>
                            <li class="recent-blog-posts-li">
                                <div class="flex-row recent-blog-posts align-top pt-half pb-half">
                                    <div class="flex-col mr-half">
                                        <div class="badge post-date badge-small badge-square">
                                            <div class="badge-inner bg-fill">
                                                <span class="post-date-day">20</span><br>
                                                <span class="post-date-month is-xsmall">Th11</span>
                                            </div>
                                        </div>
                                    </div><div class="flex-col flex-grow">
                                        <a href="#" title="Từ 1/12/2021 Giảm 50% lệ phí trước bạ cho ô tô lắp ráp trong nước">Từ 1/12/2021 Giảm 50% lệ phí trước bạ cho ô tô lắp ráp trong nước</a>
                                        <span class="post_comments op-7 block is-xsmall"><a href="#"></a></span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</main>