@model DaiLyOTO.Models.DangKyLaiThu
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Đăng ký lái thử";
    Layout = "_Layout";
}

<main id="main">
    <div id="content" class="content-area page-wrapper" role="main" style="padding-top: 60px;">
        <div class="row">
            <div id="register-box" class="col-8" style="box-shadow: 0 0 15px rgba(0,0,0,.5); border-radius:15px;">
                <form asp-action="RegisterDrive" method="post">
                    <div class="test-driven-form-title-container">
                        <h1 class="test-driven-title" style="margin-top: 18px">ĐĂNG KÝ LÁI THỬ</h1>
                    </div>
                    <div class="test-driven-form-content-container">
                        <section class="test-driven-form-section-1-2" style="margin-top: 60px;">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="test-driven-input-group">
                                <label asp-for="HoTen" class="test-driven-input-label" for="full-name">
                                    Họ và tên *
                                </label>
                                <input asp-for="HoTen" class="test-driven-text-input" type="text" placeholder="Nguyễn Văn A">
                                <span asp-validation-for="HoTen" class="text-danger"></span>
                            </div>
                            <div class="test-driven-input-group">
                                <label asp-for="Sdt" class="test-driven-input-label" for="full-name">
                                    Số điện thoại *
                                </label>
                                <input asp-for="Sdt" class="test-driven-text-input" type="text" placeholder="0912345678">
                                <span asp-validation-for="HoTen" class="text-danger"></span>
                            </div>
                            <div class="test-driven-input-group">
                                <label asp-for="Sdt" class="test-driven-input-label" for="full-name">Tên xe *</label>
                                @if (ViewBag.maXe != null)
                                {
                                    <select asp-for="MaXe" asp-items="ViewBag.MaXe" class="test-driven-select-input select2-hidden-accessible" style="color: black;" asp-selected-value="@ViewBag.maXe">
                                        <option value="">--Chọn xe--</option>
                                    </select>
                                }
                                else
                                {
                                    <select asp-for="MaXe" asp-items="ViewBag.MaXe" class="test-driven-select-input select2-hidden-accessible" style="color: black;">
                                        <option value="">--Chọn xe--</option>
                                    </select>
                                }
                            </div>
                            <div class="test-driven-input-group">
                                <label asp-for="ThoiGianDk" class="test-driven-input-label">Ngày dự kiến *</label>
                                <input asp-for="ThoiGianDk" id="mydate" type="date">
                                <span asp-validation-for="ThoiGianDk" class="text-danger"></span>
                            </div>
                            <div class="test-driven-input-group">
                                <label asp-for="GhiChu" class="test-driven-input-label"></label>
                                <input asp-for="GhiChu" id="mydate" placeholder="Ghi chú.">
                            </div>
                            <script>
                                var now = new Date();
                                var year = now.getFullYear();
                                var month = now.getMonth() + 1;
                                var day = now.getDate();
                                var minDate = year + '-' + (month < 10 ? '0' + month : month) + '-' + (day < 10 ? '0' + day : day);
                                document.getElementById('mydate').min = minDate;
                            </script>
                        </section>
                        <input type="submit" value="ĐĂNG KÝ LÁI THỬ" class="test-driven-form-submit-button">
                        
                    </div>
                </form>
            </div>
            <div id="register-img" class="col-4">
                <img src="~/assets/img/drivetest.jpg" alt="">
            </div>
        </div>
    </div>
    @*show toast*@
    @if (TempData["Message"] != null)
    {
        <script>
            Swal.fire({
                icon: '@TempData["MessageType"]',
                title: '@TempData["Message"]'
            });
        </script>
    }
</main>