@model DaiLyOTO.Models.AnhChiTiet
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "AddImageDetails";
    Layout = "_LayoutAdmin";
}


<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <h3 class="tile-title">Thêm ảnh chi tiết xe</h3>
            <div class="tile-body">
                <form asp-action="AddImageDetails" enctype="multipart/form-data" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="MaAct" class="control-label"></label>
                        <input asp-for="MaAct" class="form-control" value="@ViewBag.maxMaACTNumber" readonly />
                        <span asp-validation-for="MaAct" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MaXe" class="control-label"></label>
                        <select asp-for="MaXe" class="form-control" asp-items="ViewBag.MaXe"></select>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="TenFile" class="control-label"></label>
                        <input asp-for="TenFile" id="image" class="form-control" />
                        <input type="file" id="imageUpload" name="imageFile" class="form-control-file" />
                        <span asp-validation-for="TenFile" class="text-danger"></span>

                    </div>
                    <script>
                        // Lắng nghe sự kiện khi người dùng chọn tệp tin ảnh
                        $('#imageUpload').change(function (e) {
                            // Lấy tên tệp tin đã chọn
                            var fileName = e.target.files[0].name;
                            // Cập nhật giá trị của input asp-for với tên tệp tin đã chọn
                            $('#image').val(fileName);
                        });
                    </script>
                    <div class="form-group">
                        <input type="submit" value="Thêm" class="btn btn-primary" />
                        <a class="btn btn-cancel" asp-controller="ProductAdmin" asp-action="GetAllProduct">Thoát</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@*show toast*@
    @if (TempData["Message"] != null)
    {
        <script>
            Swal.fire({
                icon: '@TempData["MessageType"]',
                title: '@TempData["Message"]'
            });
        </script>
    }
